@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

.navlink {
    @apply border-b-2 border-primary hover:border-orange transition duration-200;
}

.total-box {
    @apply p-4 bg-secondary text-base rounded-md;
}